/* --------------------------------------
   General Styling Design
-----------------------------------------*/
body {
    background-color: rgb(44, 41, 76);
    background-image: url(../media/matrix.gif);
    background-size: cover; /* Scales the image to cover the entire container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: white;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-top: 20px;
    height: 100%;
}

#disclaimer {
    background-color: rgba(94, 7, 7, 0.8);
    border: 2px solid red;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#disclaimer h1 {
    margin: 0;
    font-size: 2vw;
}

#login-form {
    display: show;
}

#win {
    display: none;
}

#single-column {
    background-color: rgb(44, 41, 76, 0.95);
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    border-color: rgba(177, 87, 255, 0.3);
    border-style: solid;
    border-radius: 5px;
}

#single-column h1 {
    font-size: 28px;
    margin: 0;
}

/* --------------------------------------
   Footer Styling Design
-----------------------------------------*/
#footer {
    background-color: rgb(35, 33, 60);
    margin-top: 115px;
    padding: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-text-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



